@import "tailwindcss";

@theme {
  --color-primary: #003BE2;
  --color-secondary: #D4FB20;
  --color-black-shadow: #242528;
  --color-gray: #82868E;
  --font-heading: var(--font-poppins), system-ui, sans-serif;
  --font-body: var(--font-satoshi), system-ui, sans-serif;
  --animate-slider: infiniteSlider 30s linear infinite;

  @keyframes infiniteSlider {
    from { transform: translateX(0); }
    to   { transform: translateX(-50%); }
  }
}

@layer base {
  h1,h2,h3,h4,h5,h6 {@apply font-heading}
  button {@apply cursor-pointer}
  body {@apply font-body}
  .bg-grid {@apply bg-[url('/images/bg-grid.png')] bg-center bg-primary}
  .primary-btn {@apply text-lg font-medium text-black rounded-full px-6 py-3 bg-secondary text-center leading-tight flex items-center justify-center gap-2}

  .auth-left-title {@apply text-xl font-semibold text-[#F5F5F6] mb-4}
  .auth-left-desc {@apply text-lg text-[#F5F5F6] font-normal}
  .form-div {@apply max-w-145 w-full bg-white rounded-3xl px-8 lg:px-15 pt-16 pb-10}
  .form-title {@apply text-lg font-normal text-primary}
  .form-header {@apply font-semibold text-[44px] leading-snug}
  .social-login {@apply p-4 border border-[#D1D1D1] rounded-3xl flex items-center justify-center w-fit}
  .form-link {@apply text-center pt-10 text-base font-normal text-[#888888]}
  .field-label { @apply text-sm font-medium text-black-shadow mb-2}
  .field-input {@apply border border-[#E5E6E8] rounded-xl px-6 py-3 text-lg font-normal leading-normal focus-within:border-primary outline-none}
  input::placeholder{@apply text-lg font-normal text-gray}

  .header {@apply absolute top-0 inset-x-0 z-50 transition-all duration-300 bg-transparent text-white pt-10 pb-12}
  .navlink {@apply text-base font-normal text-[#F5F5F6]}
  .navlink.active {@apply font-medium text-[#F5F5F6]}

  .section-heading {@apply font-semibold text-3xl md:text-4xl text-center text-[#F5F5F6]}

  .filter-btn {@apply flex items-center gap-1 border border-[#CED0D3] text-[#4B4C53] rounded-full px-4 py-3 text-base font-medium leading-tight}
  .category-btn {@apply text-[#4B4C53] text-base font-medium rounded-full px-4 py-2.5 bg-[#F5F5F6] shrink-0}

  .home-section-header {@apply font-semibold text-3xl sm:text-[44px] leading-tight}
  .home-section-desc {@apply text-lg font-normal leading-6 sm:leading-7 text-[#4F4F4F] }

  .learning-card{@apply rounded-3xl w-41 h-41 shrink-0 flex flex-col items-center justify-center border border-[#CED0D3]}
  .learning-card-icon{@apply mb-3 w-15 h-15 bg-secondary rounded-full flex items-center justify-center}
  .learning-card-desc {@apply font-medium text-xl text-black-shadow}

  .testimonial-gradient-1 {@apply absolute -top-24 left-[35%] w-105 h-105 rounded-full bg-secondary/60 blur-[110px]}
  .testimonial-gradient-2 {@apply absolute top-[35%] -right-24 w-95 h-95 rounded-full bg-secondary/70 blur-[180px]}
  .testimonial-gradient-3 {@apply absolute -bottom-28 -left-24 w-90 h-90 rounded-full bg-primary/25 blur-[110px]}
  .testimonial-desc {@apply max-w-xl text-center lg:text-left}
  .testimonial-card {@apply bg-white rounded-3xl p-6}
  .testimonial-img{@apply w-20 h-20 rounded-full overflow-hidden}
  .testimonial-img img{@apply rounded-full w-full h-full object-cover}
  .testimonial-text{@apply mt-6 text-lg font-normal leading-6 text-[#4F4F4F]}

  .review-card {@apply rounded-2xl border border-[#CED0D3] p-6 sm:p-10}
  .review-time {@apply text-base font-normal text-[#4F4F4F] shrink-0}
  .reviewer-name {@apply text-lg font-medium}
  .reviewer-desc {@apply text-base font-normal text-[#4B4C53]}
  .review-text {@apply mt-6 text-base font-normal leading-6 text-[#4F4F4F]}

  .card-content {@apply bg-white/60 backdrop-blur rounded-full px-3 py-1.5 shrink-0 text-xs font-medium text-[#4F4F4F]}
  .card-desc {@apply text-xs font-normal text-[#4F4F4F]}
  .card-rating {@apply text-lg font-normal text-[#4F4F4F] flex items-center}
  .card-tag {@apply flex items-center gap-1.5 bg-[#F5F5F6] rounded-full px-3 py-1.5 text-[#4B4C53] text-xs font-medium}
  .card-price {@apply mt-4 font-semibold text-xl text-primary}
  .card-price span {@apply text-xs font-body text-[#4F4F4F] font-normal}
  .card-user-text {@apply w-8 h-8 rounded-full bg-secondary text-xs font-medium grid place-items-center}

  .drawer { @apply w-screen h-full fixed top-0 left-0  z-[60] opacity-0 invisible bg-black/60 transition-all duration-700!}
  .drawer.active { @apply opacity-100 visible }
  .drawer-content { @apply fixed top-0 right-0 translate-x-full z-[50] h-screen overflow-y-auto transition-all duration-700! bg-white }
  .drawer.active .drawer-content { @apply translate-x-0}

  .pagination-arrow-btn {@apply w-11 h-11 sm:w-12 sm:h-12 shrink-0 grid place-items-center rounded-full border border-neutral-300 text-neutral-800 hover:bg-neutral-100 transition}
  .pagination-btn{@apply grid place-items-center rounded-full text-black-shadow font-heading font-semibold text-base sm:text-lg}

  .course-content-tag { @apply bg-white rounded-full px-4 py-2 flex gap-2 items-center text-base font-medium text-black-shadow}
  .rating-tab-btn {@apply bg-[#F5F5F6] rounded-full px-4 py-2 text-base font-medium flex items-center}

  .footer-link {@apply grid grid-cols-2 sm:grid-cols-3 gap-x-6 gap-y-10 text-sm font-normal text-black-shadow lg:justify-items-start}
  .copyright-section {@apply mt-16 pt-5.5 border-t border-[#CED0D3] flex flex-col-reverse sm:flex-row sm:items-center items-center sm:justify-between gap-4 text-xs font-normal text-black-shadow}

  .big404 {@apply text-[clamp(9rem,32vw,24rem)] leading-[.8] font-bold tracking-[-.02em] bg-[linear-gradient(180deg,#D4F71C_0%,#b9e51f_45%,rgba(0,55,245,0)_100%)] bg-clip-text text-transparent}
  .not-found-heading {@apply text-white mt-[-9vw] sm:mt-[-6vw] lg:-mt-16 text-3xl sm:text-5xl lg:text-6xl font-semibold leading-tight max-w-[15ch] sm:max-w-[18ch]}
}

@layer utilities {
  .container {@apply max-w-312 w-full px-6 mx-auto}
}
